body {
    background-image: url('img/startBackground.webp');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

#startButton {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 4px 2px;
    text-decoration: none;
    box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
}

#character {
    position: absolute;
    top: 20%;
    left: 0;
    width: 20%;
    height: 50%;
}

#avatar {
    width: 100%;
    height: 100%;
    animation: rotation 3s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#username {
    position: relative;
    text-align: center;
    width: 100%;
    color:white;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 40px rgb(0, 0, 0);
}

#changeUsername {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    height: 3vh;
    text-align: center;
    justify-content: center;
    background-color: gray;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 4px 2px;
    box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
}

.container {
    text-align: center;
}

#intro-text {
    color:white;
    font-size: large;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 40px rgb(0, 0, 0);
}

#title {
    color: crimson;
    position: absolute;
    top: 35%;
    left: 60%;
    font-size: 3vw;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #00f, 0 0 40px #00f;
}

h1 {
    text-align: center;
}