body {
    background-image: url('img/firstBackground.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

#laptopButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

#screen {
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    text-align: center;
}

textarea {
    resize: none;
}