body {
    background-image: url('img/desktop.jpeg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

#laptop {
    display: none;
}

#computer {
    display: none;
}

#laptopButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

#screen {
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    text-align: center;
}

textarea {
    resize: none;
}

#backButton {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

#hiddenQRCode {
    position: absolute;
    border: 1px solid brown;
    top: 25%;
    left: 5%;
    width: 16%;
    height: 10%;
}

#folderName {
    color: white;
    position: relative;
    left: 5%;
}

#openFolder {
    display: none;
}

#quitFolder {
    position: absolute;
    width: 25px;
    height: 25px;
}